html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 90%;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(/projector.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: bottom;
    width: 100%;
    height: 50vh;
}

h1 {
    color: white;
}

#go-to-watchlist {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    margin-bottom:  10px;
}